.bodyNotFoundPageContainer{
    height      : 70vh;
    color       : white;
    position    : relative;
}

.bodyNotFoundPage{
    margin          : 0;
    position        : absolute;
    top             : 50%;
    -ms-transform   : translateY(-50%);
    transform       : translateY(-50%);
}

.centerSentence{
    font-size       : 15pt;
}